*{
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
    font-size: 16px;
}
html{
    text-rendering: optimizeLegibility;
}
dl, ol, ul,a{
    margin: 0;
    list-style: none;
}

body, html {
    height: 100%;
    line-height: 1.8;
}

header {
    min-height: 100%;
    background-color: rgb(206, 206, 206);
}

nav{
    display: flex;
    justify-content: space-between;
    height: 12vh;
    position: sticky;
    top: 0px;
    align-items: center;
    background-color: white;
}
.logo-container{
    margin-left: 15px;
}

.main-nav{
    display: flex;
    text-decoration: none;
    justify-content: space-around;
    margin-right: 5px;
}
.main-nav > li {
    margin-right: 10px;
}
.active{
    padding-bottom: 1px;
    border-bottom: 2px solid  #034ea2;
}
.main-nav > li >a{
    color: black;
    font-size: .9rem;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 1px;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: 0.25s;
}
.main-nav > li >a:hover{
    border-bottom: 2px solid  #034ea2;
    font-size: .85rem;
}