/* defaulters */
*{
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
    font-size: 16px;
}
html{
    text-rendering: optimizeLegibility;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
ol, ul,a{
    margin: 0;
    list-style: none;
}

body, html {
    height: 100%;
    line-height: 1.8;
}
/* HEADER SECTION */
header {
    min-height: 100%;
    background-image:
    linear-gradient(209deg, rgba(8,89,180,0.7) 0%, rgba(78,142,214,0.7) 44%, rgba(3,78,162,0.7) 100%),
    url("https://images.unsplash.com/photo-1536064479547-7ee40b74b807?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* nav styling */
nav{
    display: flex;
    justify-content: space-between;
    height: 12vh;
    position: sticky;
    top: 0px;
    align-items: center;
    background-color: white;
}
.logo-container{
    margin-left: 15px;
}

.main-nav{
    display: flex;
    text-decoration: none;
    justify-content: space-around;
    margin-right: 5px;
}

.active{
    padding-bottom: 1px;
    border-bottom: 2px solid  black !important;
}
.main-nav > li >a{
    margin-right: 25px;
    color: #034ea2;
    font-size: .9rem;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 1px;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.25s;
}
.main-nav > li >a:hover{
    border-bottom: 2px solid  rgb(238, 177, 54);
    font-size: .85rem;
}

/* hero section styling */
.hero-content{
    margin: 30px 5%;
}
.hero-text{
    font-size: 2rem;
    color: white;
}
.hero-text-main{
    font-size: 2rem;
    color: rgb(238, 177, 54);
}.hero-text-details>p{
    color:white;
    font-size: 1rem;
}